.container{
    display: flex;
    flex-direction: column;
}
.header{
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    margin-bottom: 20px;

}
.section{
    margin-bottom: 10px;
}
.button{
    width: fit-content;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 15px;
    border: 2px solid var(--title-color);
    cursor: pointer;
    margin-bottom: 10px;
}
.statsTitle{
    font-size: 25px;
    margin-top: 40px;
}
.statsContainer{
    margin-top: 10px;
    width: 500px;
    display: grid;
    gap: 5px;
    grid-template-columns: auto 1fr;
}